* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header,
section {
  padding: 0 238px;
}

.button_arrow {
  background-color: #0bdceb3f;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  margin: 30px;
  bottom: 30px;
  right: 30px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.button_arrow .but_arr_up {
  width: 40px;
  height: 40px;
}

.active_arrow {
  visibility: visible;
  opacity: 1;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

p {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main {
  height: 900px;
  background-image: url(./img/Rectangle.png);
  color: #ffffff;
}

#main > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

#main > h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 20px;
}

nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

nav .nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

nav .nav_link:last-child {
  margin-right: 0;
}

#up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: darkblue;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#desctop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.link:last-child {
  margin-right: 0;
}

#burger {
  display: none;
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#burger > img {
  width: 60px;
  height: 60px;
  margin: auto;
}

#close {
  display: none;
}

#menu {
  background-color: rgba(255, 255, 255, 0.138);
  width: 200px;
  height: 0;
  position: absolute;
  overflow: hidden;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  padding: 0 20px;
  right: 0;
  top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link-burger {
  color: #9ff4fa;
  margin: 10px 0;
}

.button-link {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#created > h2 {
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
  margin-bottom: 50px;
  max-width: 730px;
}

#created > p {
  margin-bottom: 70px;
  max-width: 730px;
  text-align: center;
}

.icons-block-right > h6 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.icons-block-right > p {
  font-size: 14px;
  line-height: 22px;
}

#created {
  height: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#created .creation-icons-block {
  width: 100%;
  height: 150px;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#created .creation-icons-block .icons-block {
  height: 100%;
  width: calc(33.3% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#created .creation-icons-block .icons-block .circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e0e0e0;
}

#created .creation-icons-block .icons-block .circle .circle-small {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: #4985ff 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#created .creation-icons-block .icons-block .circle .circle-small .icon {
  width: 40px;
  height: 40px;
  margin: auto;
}

#created .creation-icons-block .icons-block .icons-block-right {
  width: calc(100% - 125px);
  height: 100%;
  padding-top: 50px;
}

#high {
  height: 800px;
  background: #f6f6f8;
}

#high .high-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#high .high-block .info-high {
  margin: 152px 121px 143px 0;
}

.info-high > h2 {
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 40px;
}

.info-high > p {
  margin-bottom: 30px;
}

.high-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

.img-high {
  margin: 100px 0 90px 0;
  height: 400px;
  width: 500px;
}

#line {
  width: 1110px;
  height: 0;
  border: 1px solid #E0E0E0;
}

.high-icon-block {
  width: 100%;
  height: 86px;
  margin-bottom: 70px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-high {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 100px;
}

.icons-high:last-child {
  margin-right: 0;
}

.ic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  margin: 0 0 17px 0;
  text-align: center;
}

.ic .iconi {
  width: 30px;
  height: 26px;
  margin-top: 10px;
  margin-right: 20px;
}

.ic > h6 {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

#specialization {
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

#specialization > h2 {
  width: 540px;
  height: 88px;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  font-weight: bold;
  margin: 100px 370px 302px 0;
}

.two {
  margin: 120px 0 325px 0;
}

#spec-gallery {
  height: 482px;
  position: relative;
}

#spec-gallery .gall-pro {
  width: 1110px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
  position: absolute;
  top: -232px;
}

#spec-gallery .gall-pro .gall-el {
  width: 350px;
  margin-right: 30px;
}

#spec-gallery .gall-pro .gall-el .foto {
  width: 350px;
  height: 300px;
}

#spec-gallery .gall-pro .gall-el:last-child {
  margin-right: 0;
}

.gall-el > h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.span-h3 {
  color: #4985FF;
}

.gall-el > p {
  margin-bottom: 30px;
  height: 117px;
}

.lin-2 {
  margin-bottom: 85px;
  position: absolute;
  top: 400px;
}

#products {
  height: 794px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background: #F6F6F8;
}

#products > h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #000;
  margin-top: 100px;
}

#products > p {
  width: 730px;
  height: 41px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.cod-img {
  margin-left: 30px;
}

.cod-img:first-child {
  margin-left: 0;
}

.three {
  margin: 50px 0 130px 0;
}

#fon {
  background-image: url(./img/fon.png), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15)));
  background-image: url(./img/fon.png), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  height: 570px;
  text-align: center;
}

#fon > h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #fff;
  margin-top: 60px;
}

#fon > p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 420px;
}

.lin-3 {
  margin-top: 85px;
}

#mailing {
  height: 512px;
  text-align: center;
  position: relative;
}

#mailing > h3 {
  margin: 85px 0 20px 0;
  text-align: center;
  color: #000000;
}

.video-created {
  position: absolute;
  top: -350px;
  width: 970px;
  height: 430px;
}

.video-created video {
  width: 970px;
  height: 430px;
}

.video-created .video-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 165px;
  left: 335px;
}

.video-created .video-center .start-but {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 40px;
}

.video-created .video-center #watch {
  width: 300px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 200px;
  padding: 41px 29px 40px 121px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.video-created #video-control {
  display: none;
  margin: 10px 0;
}

.video-created #video-control .but-control {
  width: 70px;
  height: 20px;
  background-color: #7ca9e4;
  color: #160530;
  border: 1px solid #0bdceb3f;
  border-radius: 30px;
  margin: 0 52px;
}

.video-created #line_control {
  display: none;
}

.video-created #line_control #progress {
  width: 80px;
  margin: 0 auto;
}

.form-input {
  width: 489px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input .Email-input {
  width: 299px;
  height: 100%;
  background: #fff;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
  padding-left: 33px;
}

.form-input .Email-input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

.form-input .Email-input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

.form-input .Email-input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

.form-input .Email-input::placeholder {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

.form-input .Subscribe-input {
  width: 190px;
  height: 100%;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  border: 1px solid #4985FF;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.small-p {
  font-size: 13px;
  line-height: 21px;
}

#footer {
  height: 490px;
  background: #F6F6F8;
}

#footer .foot-block {
  padding-top: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .foot-block .contact-block {
  height: 268px;
  margin-left: 43px;
}

#footer .foot-block .contact-block .cont-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#footer .foot-block .contact-block .cont-p .small-p2 {
  font-size: 14px;
  line-height: 22px;
  margin-left: 15px;
}

#footer .foot-block .contact-block:first-child {
  margin-left: 0;
}

#footer .foot-block .contact-block > h3 {
  color: #000000;
  margin-bottom: 35px;
}

#footer ._rights {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 1600px) {
  #products {
    height: 860px;
  }
  #products .img-cod {
    height: 400px;
  }
  #products .img-cod .cod-img {
    width: 300px;
    height: 300px;
    margin-left: 50px;
  }
  #products .img-cod .cod-img:first-child {
    margin-left: 0;
  }
  #products .img-cod .mig {
    display: none;
  }
}

@media (max-width: 1450px) {
  header,
  section {
    padding: 0 170px;
  }
  #specialization {
    height: 450px;
  }
  #spec-gallery {
    height: 800px;
  }
  #spec-gallery .gall-pro {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    top: -150px;
    margin: 0;
  }
  #spec-gallery .gall-pro .element-revers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 50px 0 50px;
  }
  #spec-gallery .gall-pro .gall-el {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  #spec-gallery .gall-pro .gall-el .high-link {
    position: absolute;
    top: 85px;
    left: 590px;
    color: #7e3838;
  }
  #spec-gallery .gall-pro .gall-el .foto {
    width: 250px;
    height: 200px;
  }
  #spec-gallery .gall-pro .gall-el > p {
    margin: 30px 0 0;
    height: 80px;
    color: black;
  }
  #spec-gallery .gall-pro .gall-el > h3 {
    margin: 30px;
    color: gold;
    text-align: right;
  }
  #spec-gallery .gall-pro .gall-el > h3 .span-h3 {
    color: goldenrod;
  }
  #spec-gallery .lin-2 {
    top: 660px;
  }
}

@media (max-width: 1250px) {
  header,
  section {
    padding: 0 70px;
  }
  #line {
    width: 850px;
  }
  #main > h1 {
    margin-bottom: 90px;
  }
  #spec-gallery {
    height: 700px;
  }
  #spec-gallery .gall-pro {
    margin: auto;
  }
  #spec-gallery .gall-pro .element-revers {
    margin: 40px 0 40px;
  }
  #spec-gallery .gall-pro .gall-el {
    margin-right: 0;
  }
  #spec-gallery .lin-2 {
    top: 610px;
  }
  #high .high-block .info-high {
    margin: 70px 100px 70px 60px;
  }
  .img-high {
    margin-top: 75px;
    margin-right: 60px;
    height: 370px;
    width: 470px;
  }
  .three {
    margin-bottom: 90px;
  }
  #fon > h2 {
    margin-top: 50px;
  }
  .video-created video {
    width: 880px;
  }
}

@media (max-width: 1150px) {
  header,
  section {
    padding: 0 162px;
  }
  #created > h2 {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  #created > p {
    margin-bottom: 50px;
  }
  #specialization > h2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 30px;
    line-height: 40px;
    margin: 70px 0 300px 0;
  }
  #created {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 650px;
  }
  #created .creation-icons-block {
    height: 250px;
    margin-bottom: 30px;
  }
  #created .creation-icons-block .icons-block {
    width: calc(33.3% - 10px);
  }
  #created .creation-icons-block .icons-block .circle {
    width: 90px;
    height: 90px;
  }
  #created .creation-icons-block .icons-block .circle .circle-small {
    width: 70px;
    height: 70px;
  }
  #created .creation-icons-block .icons-block .circle .circle-small .icon {
    width: 30px;
    height: 30px;
  }
  #created .creation-icons-block .icons-block .icons-block-right {
    padding-top: 30px;
  }
  .two {
    margin: 70px 0 330px 0;
  }
  #spec-gallery {
    height: 500px;
  }
  #spec-gallery .gall-pro {
    width: 800px;
    top: -200px;
  }
  #spec-gallery .gall-pro .gall-el .foto {
    width: 200px;
    height: 150px;
  }
  #spec-gallery .gall-pro .gall-el .high-link {
    top: 120px;
    left: 340px;
  }
  #spec-gallery .gall-pro .gall-el > h3 {
    margin: 20px;
  }
  #spec-gallery .gall-pro .gall-el > p {
    margin-top: 20px;
  }
  #spec-gallery .lin-2 {
    top: 455px;
  }
}

@media (max-width: 980px) {
  header,
  section {
    padding: 0 100px;
  }
  .icons-block-right > p {
    font-size: 18px;
    line-height: 26px;
  }
  #created > p {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .info-high > p {
    font-size: 22px;
    line-height: 28px;
  }
  #fon > p {
    margin-bottom: 300px;
  }
  #mailing > h3 {
    margin-top: 40px;
  }
  .contact-block > h3 {
    margin-bottom: 25px;
  }
  #created {
    height: 750px;
  }
  #created .creation-icons-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 30px;
  }
  #created .creation-icons-block .icons-block {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
  }
  #created .creation-icons-block .icons-block .circle {
    width: 90px;
    height: 70px;
    margin-right: 10px;
  }
  #created .creation-icons-block .icons-block .circle .circle-small {
    width: 70px;
    height: 70px;
  }
  #created .creation-icons-block .icons-block .circle .circle-small .icon {
    width: 30px;
    height: 30px;
  }
  #created .creation-icons-block .icons-block .icons-block-right {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding-top: 0;
  }
  #created .creation-icons-block .icons-block .icons-block-right h6 {
    margin: 20px 0 0;
    font-size: 22px;
    line-height: 28px;
  }
  #high {
    text-align: center;
    height: 700px;
  }
  #high .high-block {
    margin-top: 50px;
  }
  #high .high-block .info-high {
    margin: 80px auto;
  }
  .img-high {
    display: none;
  }
  #line {
    width: 500px;
  }
  .high-icon-block .icons-high {
    margin-right: 30px;
  }
  #spec-gallery {
    height: 750px;
  }
  #spec-gallery .gall-pro {
    width: 500px;
    top: -260px;
  }
  #spec-gallery .gall-pro .gall-el .foto {
    width: 150px;
    height: 100px;
  }
  #spec-gallery .gall-pro .gall-el .high-link {
    top: 220px;
    left: 215px;
  }
  #spec-gallery .gall-pro .gall-el > h3 {
    margin: 0 20px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
  #spec-gallery .gall-pro .gall-el > p {
    height: 250px;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
  }
  #spec-gallery .gall-pro .element-revers {
    margin: 50px 0;
  }
  #spec-gallery .lin-2 {
    top: 650px;
  }
  #products .img-cod {
    height: 300px;
  }
  #products .img-cod .cod-img {
    width: 250px;
    height: 250px;
  }
  #fon {
    height: 450px;
  }
  #mailing {
    height: 650px;
  }
  #mailing .video-created {
    width: 500px;
    top: -230px;
  }
  #mailing .video-created video {
    width: 100%;
    height: 340px;
  }
  #mailing .video-created .video-center {
    left: 136px;
    top: 130px;
  }
  #mailing .video-created .video-center #watch {
    width: 230px;
    font-size: 14px;
    line-height: 14px;
  }
  #mailing .video-created #video-control .but-control {
    margin: 0 10px;
  }
  #mailing .video-created .lin-3 {
    margin-top: 45px;
  }
  #footer .foot-block {
    padding-bottom: 40px;
  }
  #footer .foot-block .contact-block {
    height: 250px;
  }
  #footer .foot-block .contact-block .cont-p {
    margin-bottom: 15px;
  }
  #footer .foot-block .contact-block > h3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 755px) {
  #products > p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #products {
    height: 710px;
  }
  #products .img-cod {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #products .img-cod .cod-img {
    width: 200px;
    height: 200px;
    margin-left: 20px;
  }
  .high-icon-block .icons-high:nth-last-child(2) {
    display: none;
  }
  .high-icon-block .icons-high:nth-last-child(1) {
    display: none;
  }
}

@media (max-width: 650px) {
  #main > h1 {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 52px;
  }
  #created > h2 {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  #created > p {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .icons-block-right > p {
    font-size: 22px;
    line-height: 24px;
  }
  nav {
    margin: auto;
  }
  nav .nav_link {
    font-size: 18px;
  }
  #main {
    height: 700px;
  }
  #specialization > h2 {
    font-size: 36px;
    line-height: 38px;
    margin-top: 36px;
  }
  #spec-gallery .gall-pro {
    width: 400px;
  }
  #spec-gallery .gall-pro .gall-el {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #spec-gallery .gall-pro .gall-el .foto {
    display: none;
  }
  #spec-gallery .gall-pro .gall-el .high-link {
    top: 215px;
    left: 175px;
    font-size: 20px;
  }
  #spec-gallery .gall-pro .gall-el > p {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
  }
  #spec-gallery .gall-pro .gall-el > h3 {
    margin: 0 auto;
    font-size: 24px;
    line-height: 30px;
  }
  #spec-gallery .lin-2 {
    top: 700px;
  }
  #line {
    width: 400px;
  }
  #products > p {
    height: 105px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #products > h2 {
    margin-top: 0px;
  }
  #products {
    height: 580px;
  }
  #products .img-cod .cod-img {
    width: 150px;
    height: 150px;
  }
  .three {
    margin-bottom: 0px;
  }
}

@media (max-width: 550px) {
  header,
  section {
    padding: 0 50px;
  }
  .button-link {
    width: 150px;
  }
  #created {
    height: 810px;
  }
  #specialization > h2 {
    width: 250px;
    font-size: 28px;
    line-height: 32px;
    margin-top: 50px;
  }
  #fon > h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 45px;
  }
  #fon > p {
    margin-bottom: 175px;
  }
  #fon {
    height: 295px;
  }
  #mailing {
    height: 610px;
  }
  #mailing .video-created {
    top: -210px;
  }
  #mailing .video-created video {
    width: 370px;
  }
  #mailing .video-created .video-center {
    top: 140px;
    left: 167px;
  }
  #mailing .video-created .video-center .start-but {
    width: 30px;
    height: 30px;
    top: 20px;
    left: 25px;
  }
  #mailing .video-created .video-center #watch {
    width: 165px;
    height: 70px;
    padding: 20px 25px 50px 65px;
    font-size: 14px;
    line-height: 16px;
  }
  #mailing .video-created #video-control .but-control {
    margin: 0 0;
  }
  #mailing .form-input {
    width: 305px;
    height: 40px;
  }
  #mailing .form-input .Subscribe-input {
    font-size: 14px;
  }
  .contact-block > h3 {
    font-size: 16px;
    line-height: 18px;
    width: 110px;
  }
  .svg-footer {
    display: none;
  }
  #footer {
    height: 600px;
  }
  #footer .foot-block {
    display: block;
  }
  #footer .foot-block .contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    height: 100px;
    width: 400px;
  }
  #footer .foot-block .contact-block .cont-p {
    margin-bottom: 0;
    width: 90px;
    padding-left: 5px;
  }
  #footer .foot-block .contact-block .cont-p .small-p2 {
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  header {
    height: 70px;
  }
  header #burger {
    width: 60px;
    height: 60px;
  }
  header #burger > img {
    width: 50px;
    height: 50px;
  }
  .video-created #video-control {
    padding: 0 100px;
  }
  .video-created #video-control .but-control {
    width: 65px;
  }
  #main {
    height: 530px;
  }
  #main > h1 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 40px;
  }
  .button-link {
    width: 130px;
    font-size: 14px;
    height: 40px;
  }
  #created {
    height: 930px;
  }
  #created > p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
  }
  #created > h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .icons-block-right > p {
    font-size: 18px;
    line-height: 20px;
  }
  .info-high > h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .info-high > p {
    font-size: 18px;
    line-height: 20px;
  }
  .high-link {
    font-size: 18px;
  }
  #line {
    width: 250px;
  }
  #high {
    height: 580px;
  }
  #high .high-block {
    margin-top: 0;
    height: 370px;
  }
  #high .high-block .info-high {
    margin: 20px auto;
  }
  #high .high-icon-block {
    margin-bottom: 0;
    margin-top: 30px;
  }
  #high .high-icon-block .icons-high {
    margin-right: 10px;
  }
  #high .high-icon-block .icons-high .ic {
    margin-bottom: 7px;
  }
  #high .high-icon-block .icons-high .ic .iconi {
    width: 25px;
    height: 22px;
    margin-top: 10px;
    margin-right: 5px;
  }
  #high .high-icon-block .icons-high .ic > h6 {
    font-size: 22px;
  }
  #high .high-icon-block .icons-high > p {
    font-size: 16px;
    line-height: 16px;
  }
  #spec-gallery {
    height: 630px;
  }
  #spec-gallery .gall-pro .gall-el {
    padding: 0 50px;
  }
  #spec-gallery .gall-pro .gall-el .high-link {
    top: 195px;
    left: 165px;
    font-size: 22px;
  }
  #spec-gallery .gall-pro .gall-el > h3 {
    font-size: 20px;
    line-height: 28px;
  }
  #spec-gallery .gall-pro .gall-el > p {
    font-size: 18px;
    line-height: 24px;
    height: 215px;
  }
  #spec-gallery .lin-2 {
    top: 590px;
  }
  #specialization > h2 {
    margin-top: 35px;
    width: 160px;
    font-size: 24px;
    line-height: 26px;
  }
  .two {
    margin: 45px 0 360px 10px;
    font-size: 12px;
  }
  #products {
    height: 500px;
  }
  #products .img-cod .cod-img {
    width: 80px;
    height: 80px;
  }
  #products > h2 {
    font-size: 24px;
    line-height: 32px;
  }
  #products > p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
    height: 135px;
  }
  #fon > p {
    margin-bottom: 155px;
  }
  #fon > h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 30px;
  }
  #mailing .video-created {
    top: -145px;
  }
  #mailing .video-created video {
    width: 250px;
    height: 230px;
  }
  #mailing .video-created .video-center {
    top: 102px;
    left: 190px;
  }
  #mailing .video-created .video-center .start-but {
    width: 20px;
    height: 20px;
    top: 15px;
    left: 25px;
  }
  #mailing .video-created .video-center #watch {
    width: 125px;
    height: 50px;
    padding: 10px 25px 30px 65px;
    font-size: 10px;
    line-height: 10px;
  }
  #mailing .video-created #video-control {
    padding: 0 100px;
  }
  #mailing .form-input {
    width: 230px;
  }
  #mailing .form-input .Email-input {
    width: 130px;
  }
  #mailing .form-input .Email-input .Subscribe-input {
    font-size: 14px;
    width: 100px;
  }
  #mailing .small-p {
    font-size: 12px;
    line-height: 18px;
  }
  #mailing > h3 {
    margin-top: 30px;
  }
  #mailing > p {
    font-size: 16px;
    line-height: 18px;
  }
  #footer {
    height: 485px;
  }
  #footer .foot-block {
    padding-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 310px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer .foot-block .contact-block {
    width: 100px;
    margin-left: 25px;
    display: block;
    height: 200px;
  }
  #footer .foot-block .contact-block .cont-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  #footer .foot-block .contact-block .cont-p .small-p2 {
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
  }
  #footer .foot-block .contact-block:first-child {
    margin-left: 0;
  }
  #footer .foot-block .contact-block > h3 {
    font-size: 14px;
    line-height: 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 20px;
  }
  #footer ._rights {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */